@model BibliotecaGestor.Models.Book;

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
            <div class="input-group mb-3">
				<form asp-controller="Book" asp-action="Edit" method="post">
                  
                  <div class="form-group">
                    <input type="hidden" class="form-control" asp-for=Idbook placeholder="">
                  </div>
                  
                  <div class="form-group">
                    <label>Titulo</label>
                    <input type="text" class="form-control" asp-for=Title placeholder="Insira o titulo">
                  </div>
                  
                  <div class="form-group">
                    <label>Autor</label>
                    <input type="text" class="form-control" asp-for=Author placeholder="Insira o autor">
                  </div>
                  
                  <div class="form-group">
                    <label>Isbn</label>
                    <input type="text" class="form-control" asp-for=Isbn placeholder="Insira o isbn">
                  </div>
                  
                  <div class="form-group">
                    <label>Editora</label>
                    <input type="text" class="form-control" asp-for=Publisher placeholder="Insira a editora">
                  </div>
                  
                  <br>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
			</div>
		</div>
		<div class="col-md-8">
		</div>
	</div>
</div>